# Add Environment Variables

export PYTHONPATH=./web
export CORE_SECRET_KEY="515ds+i2+%ik6z&yer+ga9m=e%jcqiz_5wszgr-z2--b2d"
# export CORE_DATABASE_URL=postgres://admin:foo@postgres:5432/budget
export CORE_DATABASE_URL=sqlite:///django.sqlite
export DJANGO_SETTINGS_MODULE=core.settings.local

export DB_NAME=drf_app
export DB_USER=admin
export DB_PASS=foo